/*
COLORS

Primary: #6600cc
Primary light: #9900ff
Primary dark: #cc00ff

Grey light 1: #e6e6e6
Grey light 2: #d9d9d9
Grey light 3: #cccccc
Grey light 4: #b3b3b3

Grey dark 1: #555
Grey dark 2: #666
Grey dark 3: #777

*/

:root {
  --color-primary: #6600cc;
  --color-primary-light: #9900ff;
  --color-primary-dark: #cc00ff;

  --color-grey-light-1: #e6e6e6;
  --color-grey-light-2: #d9d9d9;
  --color-grey-light-3: #cccccc;
  --color-grey-light-4: #b3b3b3;

  --color-grey-dark-1: #555;
  --color-grey-dark-2: #666;
  --color-grey-dark-3: #777;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}
